<table>
  <tr>
  <th>タイトル</th>
  <td><%= book_info[:title] %></td>
  </tr>

  <tr>
  <th>ページ数</th>
  <td><%= book_info[:page] %></td>
  </tr>


  <tr>
  <th>読了時間目安</th>
  <td>おおよそ時間〜時間</td>
  </tr>

  <tr>
  <th>筆者</th>
  <td><%= book_info[:author] %></td>
  </tr>

  <tr>
  <th>出版社</th>
  <td><%= book_info[:publisher] %></td>
  </tr>

  <tr>
  <th>ISBN</th>
  <td><%= book_info[:isbn] %></td>
  </tr>
</table>
