書評：<%= book_info[:title] %>

リード文

<div style="text-align: center;">
amazon画像大
</div>

<h2>目次</h2>
<blockquote>
<%= book_info[:toc] %>
</blockquote>

<h2>要約</h2>
xxxxxxxxxxxxxxxxxx

<h2>書評</h2>
xxxxxxxxxxxxxxxxx
賛成意見
反対意見
アクション
印象に残った言葉

<h2>関連書籍</h2>
<h3>xxxxxxxxxxxxxxx</h3>
関連書籍の説明

関連書籍の画像

<h2>本の基本情報</h2>

<table>
  <tr>
  <th>タイトル</th>
  <td><%= book_info[:title] %></td>
  </tr>

  <tr>
  <th>ページ数</th>
  <td><%= book_info[:page] %></td>
  </tr>


  <tr>
  <th>読了時間目安</th>
  <td>おおよそ時間〜時間</td>
  </tr>

  <tr>
  <th>筆者</th>
  <td><%= book_info[:author] %></td>
  </tr>

  <tr>
  <th>出版社</th>
  <td><%= book_info[:publisher] %></td>
  </tr>

  <tr>
  <th>ISBN</th>
  <td><%= book_info[:isbn] %></td>
  </tr>
</table>

amazonテキスト+画像
